{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block body %}
<p align="center">WELCOME TO TOOLBOX!</p>
<form method="post" action="{% url 'mr_redirect' %}">
            <p align="center">
        <button name="button" value="get_clients" type="submit">Clients</button>
            <p align="center">
        <button name="button" value="get_projects" type="submit">Projects</button>
            <p align="center">
        <button name="button" value="get_invoices" type="submit">Invoices</button>
            <p align="center">
        <button name="button" value="get_acts" type="submit">Acts</button>
    </form>
{% endblock %}